<% const isBlogPost = locals.tags == 'posts' %>
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <!-- Aditional things -->
        <link rel="pgpkey" href="https://keybase.io/izzqz/pgp_keys.asc" />
        <link rel="me" href="https://twitter.com/izzqz_" />
        <link rel="me" href="https://github.com/izzqz" />
        <!-- Google Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

        <title><%= title; %></title>

        <meta
            name="description"
            content="<%= (!!locals.description) ? description : site.description; %>"
        />
        <meta name="author" content="<%= site.author; %>" />
        <meta property="og:title" content="<%= title; %>" />
        <meta
            property="og:description"
            content="<%= (!!locals.description) ? description : site.description; %>"
        />
        <meta property="og:locale" content="<%= site.locale; %>" />
        <meta property="og:site_name" content="<%= site.site_name; %>" />
        <% if (isBlogPost) { %>
        <meta property="og:type" content="article" />
        <meta property="article:published_time" content="<%= date.toISOString(); %>" />
        <script type="application/ld+json">
            {
                "description": "<%= (!!locals.description) ? description : site.description; %>",
                "author": { "@type": "Person", "name": "<%= site.author; %>" },
                "@type": "BlogPosting",
                "url": "<%= `${site.url}${page.url}`; %>",
                "publisher": {
                    "@type": "Organization",
                    "logo": {
                        "@type": "ImageObject",
                        "url": "<%= `${site.url}/assets/images/logo.png`; %>"
                    },
                    "name": "<%= site.author; %>"
                },
                "headline": "<%= title; %>",
                "datePublished": "<%= date.toISOString(); %>",
                "mainEntityOfPage": {
                    "@type": "WebPage",
                    "@id": "<%= `${site.url}${page.url}`; %>"
                },
                "@context": "http://schema.org"
            }
        </script>
        <% } %>
        <!-- CDN Dependencies -->
        <script src="https://unpkg.com/feather-icons"></script>
        <script src="/welcome.js"></script>

        <%- include('webpack.ejs') %>
    </head>

    <body>
        <div>
            <div class="site-heading <%- isBlogPost ? 'disabled' : '' %>">
                <a href="/">
                    <span class="title">
                        Vyacheslav
                    </span>
                    <span id="izzqz">
                        izzqz
                    </span>
                </a>
            </div>
            <nav>
                <ul>
                    <li>
                        <a disabled href="#" class="text-link"><i data-feather="file-text"></i>Résumé</a>
                    </li>
                    <li>
                        <a arrow href="https://github.com/izzqz" target="_blank" rel="noopener noreferrer" class="text-link"><i data-feather="github"></i>Code</a>
                    </li>
                    <li>
                        <a href="/blog" class="text-link"><i data-feather="more-vertical"></i>All posts</a>
                    </li>
                </ul>
            </nav>
        </div>

        <div class="main-content"><%- content; %></div>

        <footer>
            <div style="user-select: none">
                <span role="img" aria-label="Made" title="Made">
                    <i data-feather="code" style="margin: 0 -0.5ex 0 -0.5ex"></i></i>
                </span>
                <span role="img" aria-label="with" title="with">
                    <i data-feather="plus" style="margin: 0 -0.5ex 0 -0.5ex"></i>
                </span>
                <span role="img" aria-label="Love" title="Love">
                    <i data-feather="heart" style="margin: 0 -0.5ex 0 -0.5ex"></i></i>
                </span>
                <span role="img" aria-label="By" title="by">
                    <i data-feather="arrow-left" style="margin: 0 -0.5ex 0 -0.5ex"></i></i>
                </span>
                <a href="/" aria-label="Me" title="izzqz">
                    <i data-feather="user" style="margin: 0 -0.5ex 0 -0.5ex"></i>
                </a>
            </div>
            <div>
                <!-- <a class="text-link" href="/donation"><i data-feather="dollar-sign"></i>Donation<i data-feather="dollar-sign"></i></a> -->
                <a arrow class="text-link" target="_blank" rel="noopener noreferrer" href="https://indieweb.org/">Join IndieWeb!</a> 
            </div>
        </footer>
        <script>
            feather.replace({
                viewBox: '0 -1 24 24',
                height: 14,
                width: 14,
                style: 'position: relative; bottom: -0.05em; margin: 0 0.14em 0 0.14em;',
            });
        </script>
        <!-- Cloudflare Web Analytics -->
        <script
            defer
            src="https://static.cloudflareinsights.com/beacon.min.js"
            data-cf-beacon='{"token": "9713f27c397d4c21980783ed11eb02d9"}'
        ></script>
    </body>
</html>
