---
layout: layouts/base.ejs
---

<article class="h-entry">
    <time class="dt-published" datetime="<%- date.toISOString() %>"
        ><%= this.dateFns.format(new Date(date), 'LLLL d, yyyy') %></time
    >
    <a class="u-url" href="<%= `${site.url}${page.url}`; %>"></a>

    <!-- TODO: Add sendication support-->
    <!-- SEE:  -->
    <!-- <a rel="syndication" class="u-syndication" href="…">…</a> -->

    <h1 class="accent p-name"><%= title %></h1>

    <section class="e-content"><%- content %></section>
    
    <!-- TODO: Tags support -->
    <!-- <a class="p-category" href="…">…</a> -->
</article>

<div class="share-footer">
    <a id="tweet-button" href="#" rel="noopener noreferrer nofollow" target="_blank"
        ><button><i data-feather="twitter"></i>Tweet 'Thanks' to me</button></a
    >
    <script>
        const tweet = new URL('https://twitter.com/intent/tweet');

        tweet.searchParams.append('original_referer', window.location.origin);
        tweet.searchParams.append('ref_src', 'twsrc^tfw|twcamp^buttonembed|twterm^share|twgr^'); // Wait, That's Illegal.
        tweet.searchParams.append(
            'text',
            'Hey @izzqz_ thanks for post\n' + window.location.href
        );

        document.getElementById('tweet-button').href = tweet.href;
    </script>
</div>
